---
import Card from "../components/card.astro";
import {format} from 'light-date';
const title = "Mineral Visitor Monitoring";
const date = new Date();
const time = format(date, '{HH}:{mm}:{ss}');
const today = format(date, '{yyyy}-{MM}-{dd}');

// dummy -- will be replaced by API
const accounts = [
	{
		name: 'PVRA',
		visitor: [
			{
				time: '16:00',
				count: 200
			},
			{
				time: '16:01',
				count: 590
			},
			{
				time: '16:02',
				count: 900
			},
			{
				time: '16:03',
				count: 1200
			},
			{
				time: '16:04',
				count: 2000
			},
			{
				time: '16:05',
				count: 2500
			}
		]
	},
	{
		name: 'MAYRA',
		visitor: [
			{
				time: '16:00',
				count: 200
			},
			{
				time: '16:01',
				count: 590
			},
			{
				time: '16:02',
				count: 900
			},
			{
				time: '16:03',
				count: 1200
			},
			{
				time: '16:04',
				count: 2000
			},
			{
				time: '16:05',
				count: 2500
			}
		]
	},
	{
		name: 'LIGHTSCLO',
		visitor: [
			{
				time: '16:00',
				count: 200
			},
			{
				time: '16:01',
				count: 590
			},
			{
				time: '16:02',
				count: 900
			},
			{
				time: '16:03',
				count: 1200
			},
			{
				time: '16:04',
				count: 2000
			},
			{
				time: '16:05',
				count: 2500
			}
		]
	},
	{
		name: 'NAPOCUT',
		visitor: [
			{
				time: '16:00',
				count: 200
			},
			{
				time: '16:01',
				count: 590
			},
			{
				time: '16:02',
				count: 900
			},
			{
				time: '16:03',
				count: 1200
			},
			{
				time: '16:04',
				count: 2000
			},
			{
				time: '16:05',
				count: 2500
			}
		]
	},
	{
		name: 'NUETA',
		visitor: [
			{
				time: '16:00',
				count: 200
			},
			{
				time: '16:01',
				count: 590
			},
			{
				time: '16:02',
				count: 900
			},
			{
				time: '16:03',
				count: 1200
			},
			{
				time: '16:04',
				count: 2000
			},
			{
				time: '16:05',
				count: 2500
			}
		]
	},
	{
		name: 'KALEELA',
		visitor: [
			{
				time: '16:00',
				count: 200
			},
			{
				time: '16:01',
				count: 590
			},
			{
				time: '16:02',
				count: 900
			},
			{
				time: '16:03',
				count: 1200
			},
			{
				time: '16:04',
				count: 2000
			},
			{
				time: '16:05',
				count: 2500
			}
		]
	},
	{
		name: 'MONOKHEI',
		visitor: [
			{
				time: '16:00',
				count: 200
			},
			{
				time: '16:01',
				count: 590
			},
			{
				time: '16:02',
				count: 900
			},
			{
				time: '16:03',
				count: 1200
			},
			{
				time: '16:04',
				count: 2000
			},
			{
				time: '16:05',
				count: 2500
			}
		]
	},
	{
		name: 'JAVINA',
		visitor: [
			{
				time: '16:00',
				count: 200
			},
			{
				time: '16:01',
				count: 590
			},
			{
				time: '16:02',
				count: 900
			},
			{
				time: '16:03',
				count: 1200
			},
			{
				time: '16:04',
				count: 2000
			},
			{
				time: '16:05',
				count: 2500
			}
		]
	},
	{
		name: 'MUJIONO',
		visitor: [
			{
				time: '16:00',
				count: 200
			},
			{
				time: '16:01',
				count: 590
			},
			{
				time: '16:02',
				count: 900
			},
			{
				time: '16:03',
				count: 1200
			},
			{
				time: '16:04',
				count: 2000
			},
			{
				time: '16:05',
				count: 2500
			}
		]
	}
];
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-screen h-screen flex flex-col space-y-4 bg-gray-900 text-white p-4">
		<header class="grid grid-cols-3 items-center gap-4">
			<h1 class="text-2xl xl:text-4xl">{title}</h1>
			<h3 class="text-xl text-center">{time}</h3>
			<h3 class="text-xl text-right">{today}</h3>
		</header>
		<div class="flex-grow grid grid-cols-2 lg:grid-cols-3 gap-4">
			{accounts.map((item, key) => (
				<Card key={key} name={item.name} visitor={item.visitor} />
			))}
		</div>
	</body>
</html>